DB_HOST=db
DB_PORT=5432
DB_NAME=Plagidec
DB_USER=leaf
DB_PASSWORD=cambia_esta_password
JWT_SECRET=genera_un_secreto_random_largo_aca
JWT_TTL=3600
IA_SERVICE_URL=http://b-ia:8000
UPLOAD_DIR=/var/www/uploads
